html {
    height: 100%;
    background-color: gray;
}

body {
    margin: 0 auto;
    width: 40%;
    min-height: 100%;
    min-width: 600px;
    font-family: Verdana;
    font-size: 16px;
}

h1.title {
    padding-top:50px;
    margin-bottom: 70px;
}

div.heading {
    margin-top: 35px;
    margin-bottom: 30px;
}
h3 {
    margin-bottom: 0;
    padding: 5px;
    background-color: lightyellow;
    border-top: 1px saddlebrown solid;
    border-bottom: 1px saddlebrown solid;
}

.player {
    font-size: 150%;
}
.turn {
    font-size: 200%;
    font-weight: bold;
}

#logo {
    width: 100px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        min-width: inherit;
    }
    #logo {
        width: 200px;
    }
    h1 > span {
        display: none;
    }
    h1.title {
        margin-bottom: 50px;
    }
}
